<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글테스트</title>
    <link rel="stylesheet" href="{% static 'css/review/css/css.css' %}">
</head>

<body>
{% include 'poll/sidebar.html' %}
{% include 'poll/header.html' %}
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시글보기</strong>
            <p>게시글보기 멘트가 생각이안나네요 마음대로 쓰십쇼 닝겐.</p>
        </div>

        <div class="board_view_wrap">

            <div class="board_view_wrap">
                <div class="board_view">
                    <div class="title">
                        {{ review_board.r_title }}
                    </div>
                    <div class="info">
                        <dl>
                            <dt>번호</dt>
                            <dd>{{review_board.id}}</dd>
                        </dl>
                        <dl>
                            <dt>글쓴이</dt>
                            <dd>{{review_board.user}}</dd>
                        </dl>
                        {% if review_board.r_modifydate %}
                        <dl>
                            <dt>작성일</dt>
                            <dd>{{ review_board.r_regdate|date:"y-m-d"}}</dd>
                        </dl>
                        <dl>
                            <dt>수정일</dt>
                            <dd>{{ review_board.r_modifydate|date:"y-m-d"}}</dd>
                        </dl>
                        {% else %}
                        <dl>
                            <dt>작성일</dt>
                            <dd>{{ review_board.r_regdate|date:"y-m-d"}}</dd>
                        </dl>
                        {% endif %}
                        <dl>
                            <dt>조회</dt>
                            <dd>{{review_board.r_hit}}</dd>
                        </dl>
                    </div>
                    <div class="cont">{{review_board.r_content}}</div>
                </div>
                <div class="bt_wrap">
                    <a href="{% url 'review:review_main' %}" class="on">목록</a>
                </div>
            </div>
    </div>
</body>

</html>