<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
{% include 'poll/sidebar.html' %}
{% include 'poll/header.html' %}
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/common/style.css' %}">
</head>
<body>
    <section id="signup">
        <form action="" method="post">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <div>
                <label class="radio"><input type="radio" name="usertype" value="개인" checked>개인</label>
                <label class="radio"><input type="radio" name="usertype" value="사업자">사업자</label>
            </div>
            <div>
                <label for="username">아이디</label>
                <input type="text" id="username" name="username"
                    value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div>
                <label for="password1">비밀번호</label>
                <input type="password" id="password1" name="password1"
                    value="{{ form.password1.value|default_if_none:'' }}">
            </div>
            <div>
                <label for="password2">비밀번호 확인</label>
                <input type="password" id="password2" name="password2"
                    value="{{ form.password2.value|default_if_none:'' }}">
            </div>
            <div>
                <label for="last_name">이름</label>
                <input type="text" id="last_name" name="last_name"
                    value="{{ form.last_name.value|default_if_none:'' }}">
            </div>
            <div>
                <label for="email">이메일</label>
                <input type="text" id="email" name="email"
                    value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <button type="submit">가입하기</button>
        </form>


    </section>
</body>
</html>