<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이용약관</title>
    <link rel="stylesheet" href="../../static/css/footer/footer.css">
</head>
<body>
    <footer>
        <ul id="bottomMenu">
            <li><a href="../introduction/introduction.html">회사 소개</a></li>
            <li><a href="./이용약관.html">이용 약관</a></li>
            <li><a href="./개인정보처리방침.html">개인정보 처리방침</a></li>
            <li><a href="./위치 기반 서비스.html">위치 기반 서비스</a></li>
            <li><a href="#">출처</a></li>
        </ul>
        <ul id="bottomSub">
            <li>상호 : 집집</li>
            <li>팀 : 3조</li>
            <li>주소 : 서울특별시 강남구 그린컴퓨터아카데미 (우:11111)</li>
        </ul>
    </footer>
</body>
</html>