<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="{% static 'css/board/css.css' %}">
</head>

<body>
    <!--{% include 'poll/sidebar.html' %}-->
    {% include 'poll/header.html' %}
    <div class="container my-3">
        <section id="detail">
            <h1 class="border-bottom gb=2">질문 등록</h1>
            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}     <!-- 폼의 필드를 준비 -->
                        {% if field.errors %}   <!-- 에러값 -->
                            {{ field.label }}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <!-- 오류 처리 끝 -->
                <div class="form-group">
                    <label for="b_title">제목</label>
                    <input type="text" name="b_title" id="b_title" class="form-control"
                           value="{{ form.b_title.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label for="b_content">내용</label>
                    <textarea name="b_content" id="b_content" rows="10" class="form-control">{{form.b_content.value|default_if_none:''}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">등록</button>

            </form>
        </section>
    </div>
</body>
